<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= title %></title>
    <link rel="shortcut icon" type="image/png" href="https://trello.com/1/cards/6169d59d67be893941308c08/attachments/6169d59d67be893941308c13/download/bad-gnome.png"/>
