/* My reset */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    font-size: 62.5%
}

body {
  background-color: black;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0 auto;
  color: white;
}

/* --------------------My defaults */
.link {
  transition: all 0.4s;
}

.link:hover {
  color: #F7EA00;
}

/* -----------------------------Nav */
nav {
  background-color: rgb(20, 20, 20);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}

a {
  color: white;
  text-decoration: none;
}

.gnomeTitle {
  font-size: 24px;
}

.title {
  display: flex;
  align-items: center;
}

.title a{
  color: white;
  margin-left: 10px;
}

.googleLink {
  font-size: 24px;
  color: #3EDBF0;
  padding: 4px;
  box-shadow: inset 2px 2px 12px currentColor;
  margin: 0px 10px;
  transition: all 0.3s;
}

.googleLink span {
  font-size: 24px;
  font-weight: bold;
}

.googleLink:hover {
  box-shadow: inset 0px 0px 0px currentColor;
  border-bottom: 2px solid currentColor;
}

/*--------------------- Root Page */
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.pageTitle {
  padding: 20px 10px;
}
/* ------not logged in */
.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
}

.welcome h2 {
  font-size: 4vw;
  padding: 20px 0;
}

.cardAnimate {
  width: 65%;
  border-radius: 10px;
  box-shadow: 2px 2px 18px rgb(121, 121, 121);
  transition: all 0.5s;
}

.cardAnimate:hover {
  transform: skewY(1deg);
}

.siteDesc {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2.5vh;
  padding: 20px 10px;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 2px;
}

/* Logged in root */
.loggedIntro span {
  font-size: 2.5vh;
}

.loggedIntro p {
  padding: 20px 0;
  font-size: 1.5vh;
  letter-spacing: 1.5px;
}

.loggedIntro .uiTakeStyle {
  text-decoration: underline;
  font-size: 2vh;
  padding: 10px;
}

.pantheon a {
  display: inline-block;
  width: 40%;
  font-size: 5vw;
  margin: 20px 0;
}

.pantheon img {
  width: 70%;
  border-radius: 10px;
  box-shadow: 2px 2px 16px currentColor;
}

.pantheon p {
  font-size: 2vh;
  letter-spacing: 1.5px;
}

/* Profile page */
.spacing {
  margin: 20px 0;
}

.reviewdiv {
  box-shadow: 1px 2px 16px white;
  border-radius: 10%;
}

.profileReviews {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  max-width: 90%;
  margin: 0 auto;
}

.profileReviews .reviewMade {
  background-color: rgb(19, 23, 37);
  text-align: center;
  margin: 10px;
  padding: 10px;
  width: 30%;
}

.profileReviews .reviewMade h3 {
  font-size: 2.6vh;
}

.profileReviews .reviewMade img{
  background-size: cover;
  background-position: center;
  width: 80%;
  border-radius: 20%;
  border: solid black 4px;
}

.profileReviews .reviewMade p {
  font-size: 2.5vh;
  color: rgba(221, 221, 221, 0.8);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.profileReviews .reviewMade a {
  display: block;
  font-size: 2.2vh;
  letter-spacing: 1.5px;
  margin: 10px auto;
}

.profileReviews .reviewMade a:hover {
  background-color: rgb(0, 139, 116);
}

.profileReviews .reviewMade button:hover {
  cursor: pointer;
}

/* New myths render */

.mythForm form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  width: 70%;
}

.mythForm form select{
  padding: 4px;
  font-size: 2.5vh;
}

.mythForm form select:hover{
  cursor: pointer;
}

.mythForm form label {
  font-size: 4vh;
  padding: 10px;
}

.mythForm form input {
  width: 60%;
  padding: 4px;
}

.mythForm form textarea {
  width: 90%;
}

.mythForm form button {
  padding: 10px;
  font-size: 2vh;
  margin-top: 10px;
  font-weight: bold;
  transition: all 0.4s;
}

.mythForm form button:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}

/* Pantheon category render */
.category {
  text-align: center;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  max-width: 90%;
  margin: 0 auto;
}

.mythCard1 {
  margin: 10px;
  width: 30%;
}

.mythCard1 .cardTitle {
  display: block;
  font-size: 3.6vh;
}

.mythCard1 img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 1px 1px 12px rgb(194, 194, 194);
  transition: all 0.5s;
}

.mythCard1 img:hover {
  box-shadow: 1px 2px 18px rgb(255, 255, 255);
  transform: skewY(2deg);
}


/* Myth detail/show */
.infoContainer {
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.mythContainer h1 {
  margin-top: 20px;
  font-size: 5vw;
  letter-spacing: 4px;
  padding: 6px;
}

.mythContainer img {
  padding: 10px;
  width: 60%;
  border-radius: 10px;
  box-shadow: rgb(255, 255, 255) 1px 2px 16px;
}

.mythContainer p {
  margin-top: 10px;
  padding: 20px;
  font-size: 2vh;
  letter-spacing: 2px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
}

.infoReview {
  width: 100%;
}

.infoReview form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}

.infoReview form label {
  font-size: 3vh;
  padding: 4px;
}

.infoReview form textarea {
  width: 50%;
}

.infoReview form select {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 2vh;
  font-weight: bold;
}

.infoReview form select:hover {
  cursor: pointer;
}

.infoReview form button {
  padding: 10px;
  font-size: 2vh;
  margin-top: 10px;
  font-weight: bold;
  transition: all 0.4s;
}

.infoReview form button:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}

/* Existing reviews */
.reviewTitle {
  margin-top: 30px;
  text-align: center;
  font-size: 3vh;
}

.existingReviews {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  max-width: 90%;
  margin: 0 auto;  
}

.existingReviews .review {
  background-color: rgb(19, 23, 37);
  text-align: center;
  margin: 10px;
  padding: 10px;
  width: 30%;
}

.existingReviews .review img {
  float: left;
  border-radius: 50%;
}

.existingReviews .review h2 {
  font-size: 3vh;
}

.existingReviews .review h4 {
  font-size: 1.5vh;
}

.existingReviews .review p {
  font-size: 1.8vw;
  color: rgba(221, 221, 221, 0.644);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2.2vh;
}

/* no review */
.noReviews {
  text-align: center;
  font-size: 3vh;
  padding: 20px 10px;
}