/* My reset */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    font-size: 62.5%
}

body {
  background-color: black;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0 auto;
  color: white;
}

/* --------------------My defaults */
.link {
  transition: all 0.3s;
}

.link:hover {
  color: #F7EA00;
}

/* -----------------------------Nav */
nav {
  background-color: rgb(12, 12, 12);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}

a {
  color: white;
  text-decoration: none;
}

.title {
  display: flex;
  align-items: center;
}

.title a{
  color: white;
  font-size: 24px;
  margin-left: 10px;
}

/*--------------------- Root Page */
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}


/* ------not logged in */
.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
}

.googleLink {
  font-size: 18px;
  color: #3EDBF0;
  padding: 4px;
  box-shadow: inset 2px 2px 12px currentColor;
  transition: all 0.3s;
}

.googleLink span {
  font-size: 24px;
  font-weight: bold;
}

.googleLink:hover {
  box-shadow: inset 0px 0px 0px currentColor;
  border-bottom: 2px solid currentColor;
}


.welcome h2 {
  font-size: 44px;
  padding: 20px 0;
}

.cardAnimate {
  width: 50%;
  border-radius: 10px;
  box-shadow: 2px 2px 18px rgb(121, 121, 121);
  transition: all 0.5s;
}

.cardAnimate:hover {
  transform: skewY(1deg);
}

.siteDesc {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 24px;
  padding: 20px 20px;
  max-width: 700px;
  color: rgba(255, 255, 255, 0.5);
  line-height: 40px;
}

/* Logged in root */
.loggedIntro p {
  padding: 20px 0;
  font-size: 18px;
}

.pantheon a {
  display: block;
  font-size: 42px;
  font-weight: bold;
}

.pantheon img {
  width: 50%;
  border-radius: 10px;
  box-shadow: 2px 2px 16px currentColor;
}

/* myths render */

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}