<%- include('./../partials/html-head') %>
<%- include('./../partials/nav') %>

<main class="welcome">

    <h1><%= title %> </h1>

    <h3>add a myth</h3>

    <form action="/myths" method="POST">
        <label for="">Name</label>
        <input type="text" name="name">
        <label for="">Image Url</label>
        <input type="text" name="img">
        <label for="">Description</label>
        <textarea rows="4" cols="50" name="bio"></textarea>
        <button type="submit">Create</button>
    </form>

</main>

<%- include('./../partials/footer') %>
