<%- include('./../partials/html-head') %>
<%- include('./../partials/nav') %>

<main class="welcome mythForm">
    <h1><%= title %> </h1>

    <form action="/myths" method="POST">
        
        <label for="">Pantheon</label>
        <select name='pantheon'>
            <option value="Greek">Greek</option>
            <option value="Egyptian">Egyptian</option>
            <option value="Japanese">Japanese</option>
        </select>

        <label for="">Name</label>
        <input type="text" name="name">

        <label for="">Image Url</label>
        <input type="text" name="img">
        
        <label for="">Description</label>
        <textarea rows="4" cols="50" name="bio"></textarea>

        <button type="submit">Create Myth</button>

    </form>

    <!-- Pantheon -->
    <!-- <form action="/myths/pantheon" method="POST">
        <label for="">Pantheon Name</label>
        <input type="text" name="pantheon">

        <label for="">URL image</label>
        <input type="text" name="img">

        <label for="">Bio</label>
        <textarea name="desc" id="" cols="30" rows="10"></textarea>
        <button type="submit">create</button>
    </form> -->

    

</main>

<%- include('./../partials/footer') %>
